.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.catItem {
    overflow: hidden;
    position: relative;

    .shadowWraper,
    .shadowWraper2 {
        width: 100%;
        height: 100%;
        transition: box-shadow 0.3s ease-out;
    }

    &::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: -94px;
        height: 94px;
        width: 100%;
        background: linear-gradient(
            to top,
            rgb(255 255 255),
            rgb(255 255 255 / 0%)
        );
        transition: bottom 0.3s ease-out;
    }

    &:hover {
        .shadowWraper {
            box-shadow: 0 9px 18px 0 rgb(0 0 0 / 18%);
        }

        .shadowWraper2 {
            box-shadow: 0 6px 5px 0 rgb(0 0 0 / 24%);
        }

        &::before {
            bottom: 0;
        }
    }
}
