.page {
    align-content: center;
    max-width: 1413px;
    padding: 0 48px;
}

@media (width <= 1429px) {
    .page {
        max-width: 1140px;
    }
}

@media (width <= 1156px) {
    .page {
        max-width: 868px;
    }
}

@media (width <= 883px) {
    .page {
        max-width: 594px;
    }
}

@media (width <= 610px) {
    .page {
        max-width: 321px;
    }
}
